doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar
      .nav-container
        a.logo(href='/') 🎲 Jeu
        ul.nav-links
          if !userId
            li: a(href='/login') Connexion
            li: a(href='/register') Inscription
          else
            li: a(href='/profile') Mon profil
            if showLogout
              li
                form(method="POST", action="/logout")
                  button.logout-btn(type="submit") Déconnexion

    block content

    script(src='/javascripts/filterToggle.js')
    script(src='/javascripts/liveSearch.js')

    // Pour les boutons de défilement 
    script. 
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".defilement-slider").forEach(slider => {
          const track = slider.querySelector(".defilement-track");
          const left = slider.querySelector(".left-button");
          const right = slider.querySelector(".right-button");
          
          if (left && right && track) {
            left.addEventListener("click", () => {
              track.scrollBy({ left: -300, behavior: "smooth" });
            });
            right.addEventListener("click", () => {
              track.scrollBy({ left: 300, behavior: "smooth" });
            });
          }
        });
      });