doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    header.navbar
      .nav-container
        a.logo(href="/") 🎲 Jeux 
        nav.nav-links
          a(href="/") Accueil
          if !userId
            a(href="/login") Connexion
            a(href="/register") Inscription
          else
            a(href="/profile") Mon profil
            form(action="/logout", method="POST", style="display:inline")
              button(type="submit") Déconnexion

    main
      block content

    script(src='/javascripts/filterToggle.js')
    script(src='/javascripts/liveSearch.js')
